{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
<div class="item">
    <div class="item-box  layer-photos-demo1 layer-photos-demo">
        <h3>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h3>
        <h5>
            <span>
                <a href="#">{{ post.category.name }}</a>
            </span>
            <span>
                <a href="#">
                    <time class="entry-date" datetime="{{ post.created_time }}">{{ post.created_time }}</time>
                </a>
            </span>
            <span>
                <a href="#">{{ post.author }}</a>
            </span>
            <span>
                <a href="#">4 评论</a>
            </span>
            <span>
                <a href="#">{{ post.views }} 阅读</a>
            </span>
        </h5>
        <p>{{ post.body|safe }}</p>
        <!-- <img src="../res/static/images/item.png" alt="" layer-index="0"> -->
    </div>
    <!-- <div class="comment count">
            <a href="details.html#comment"><i class="layui-icon layui-icon-read"></i>&nbsp;{{ post.views }}</a>
            <a href="javascript:;" class="like"><i class="layui-icon layui-icon-dialogue"></i>&nbsp;23</a>
        </div> -->
</div>
<div class="comt layui-clear">
    <a href="javascript:;" class="pull-left">评论({{ comment_list.count }})</a>
    <a href="comment.html" class="pull-right">写评论</a>
</div>
<div id="LAY-msg-box">
    {% for comment in comment_list %}
    <div class="info-item">
        <img class="info-img" src="{% static 'blog/images/pic.jpg' %}" alt="">
        <div class="info-text">
            <p class="title count">
                <span class="name">一片空白</span>
            </p>
            <p class="title count">{{ comment.created_time }}</p>
            <p class="info-intr">{{ comment.text|safe }}</p>
        </div>
    </div>
    {% empty %} 暂无评论 {% endfor %}
</div>
<script>
        $(function(){
            layer.open({
          type: 1,
          title: '目录',
          area: 'auto',
          offset: ['150px', '85%'],
          shade: 0,
          maxHeight: '500px',
        //   shadeClose: true, //点击遮罩关闭
          content: $('#toc')
        });
        });
        
    </script>
<div id="toc">
        {{ post.toc|safe }}
</div>
{% endblock main %}
<!-- <aside class="col-md-4"> -->


<!-- <div class="widget widget-recent-posts">
                    <h3 class="widget-title">最新文章</h3>
                    <ul>
                        <li>
                            <a href="#">Django 博客开发入门教程：前言</a>
                        </li>
                        <li>
                            <a href="#">Django 博客使用 Markdown 自动生成文章目录</a>
                        </li>
                        <li>
                            <a href="#">部署 Django 博客</a>
                        </li>
                    </ul>
                </div>
                <div class="widget widget-archives">
                    <h3 class="widget-title">归档</h3>
                    <ul>
                        <li>
                            <a href="#">2017 年 5 月</a>
                        </li>
                        <li>
                            <a href="#">2017 年 4 月</a>
                        </li>
                        <li>
                            <a href="#">2017 年 3 月</a>
                        </li>
                    </ul>
                </div>

                <div class="widget widget-category">
                    <h3 class="widget-title">分类</h3>
                    <ul>
                        <li>
                            <a href="#">Django 博客教程 <span class="post-count">(13)</span></a>
                        </li>
                        <li>
                            <a href="#">Python 教程 <span class="post-count">(11)</span></a>
                        </li>
                        <li>
                            <a href="#">Django 用户认证 <span class="post-count">(8)</span></a>
                        </li>
                    </ul>
                </div>

                <div class="widget widget-tag-cloud">
                    <h3 class="widget-title">标签云</h3>
                    <ul>
                        <li>
                            <a href="#">Django</a>
                        </li>
                        <li>
                            <a href="#">Python</a>
                        </li>
                        <li>
                            <a href="#">Java</a>
                        </li>
                        <li>
                            <a href="#">笔记</a>
                        </li>
                        <li>
                            <a href="#">文档</a>
                        </li>
                        <li>
                            <a href="#">AngularJS</a>
                        </li>
                        <li>
                            <a href="#">CSS</a>
                        </li>
                        <li>
                            <a href="#">JavaScript</a>
                        </li>
                        <li>
                            <a href="#">Snippet</a>
                        </li>
                        <li>
                            <a href="#">jQuery</a>
                        </li>
                    </ul>
                </div>
                <div class="rss">
                    <a href=""><span class="ion-social-rss-outline"></span> RSS 订阅</a>
                </div>
            </aside>
        </div>
    </div>
</div>
<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">&copy 2017 - Collect from <a href="http://www.cssmoban.com/"
                                                                  target="_blank" title="模板之家">模板之家</a>
                    - Modified by <a href="http://zmrenwu.com/" title="网页模板" target="_blank">追梦人物的博客</a>
                </p>
            </div>
        </div>
    </div>
</footer> -->

<!-- Mobile Menu -->